<!DOCTYPE html>
<html lang="en">

<body>

<%# = require wice_grid %>

<src="app/assets/images/Slide1.jpg" alt="logo not here!" height="42" width="42">
<h2>NYC Train Lines</h2>

<div class = "container">
  <%= grid(@lines_grid, show_filters: :always) do |g|
    
  g.row_attributes do |version|
    if version
      {style: 'background-color: #000025;'}
    end
  end
  
  g.blank_slate  do
    "There are no lines."
  end
  
  g.column name: 'Train', attribute: 'train', custom_filter: :auto do |line|
    line.train
  end

  g.column name: 'Color', attribute: 'color', custom_filter: :auto do |line|
    line.color
  end
  
  g.column name: 'Borough', attribute: 'borough', custom_filter: :auto do |line|
    line.borough
  end
  
  g.column name: 'Description' do |line|
    line.description
  end
  
  g.column do |line|
    link_to('Edit', edit_line_path(line))
  end
 
end -%>
<button class="wg-external-submit-button" data-grid-name="grid">Submit</button>
<button class="wg-external-reset-button" data-grid-name="grid">Reset</button>

   

<% 
=begin %>  <% ruby_code %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Train</th>
          <th>Color</th>
          <th>Borough</th>
        </tr>
      </thead>
    <tbody>
      <%@lines.each do |line|%>
        <tr>
          <td><%= line.train%></td>
          <td><%= line.color%></td>
          <td><%= line.borough%></td>
          <td><%=link_to "More About The #{line.train}", line_path(line),:class => 'link'%></td> 
        </tr>
      <%end%>
    </tbody>
   <% 
=end %> 

  

=begin %>
</div>
    <p class="link"><%= link_to 'Add New Train', new_line_path,:class => 'link' %></p>
    <p class="link"><%= link_to 'Add New Trip', trips_new_newtrip_path,:class => 'link' %></p>
=end %>
</body>
<%#= paginate @lines %>
</html>
