<!DOCTYPE html>
<html lang="en">

<body>

<%# = require wice_grid %>

<src="app/assets/images/Slide1.jpg" alt="logo not here!" height="42" width="42">

<div class = "container">
  <h2>NYC Train Lines</h2>     
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Train</th>
          <th>Color</th>
          <th>Borough</th>
        </tr>
      </thead>
    <tbody>
      <%@lines.each do |line|%>
        <tr>
          <td><%= line.train%></td>
          <td><%= line.color%></td>
          <td><%= line.borough%></td>
          <td><%=link_to "More About The #{line.train}", line_path(line),:class => 'link'%></td> 
        </tr>
      <%end%>
    </tbody>
  


</div>
    <p class="link"><%= link_to 'Add New Train', new_line_path,:class => 'link' %></p>
    <p class="link"><%= link_to 'Add New Trip', trips_new_newtrip_path,:class => 'link' %></p>

</body>
</html>