
%html
%head 

-#
  %nav
  = link_to 'Log Out', logout_path, {:id => "link"}
  <link rel="stylesheet" type="text/css" href="application.css">

.container-fluid


<!DOCTYPE html>
<link rel="icon" href="pancake.ico"/>
<title>Urban Pancake</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="application.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="https://urbanpancake-aburns.c9users.io/welcome/show">Urban Pancake</a>
</div>
<ul class="nav navbar-nav">

<li><a href="https://urbanpancake-aburns.c9users.io/lines">Lines</a></li>
<li><a href="https://urbanpancake-aburns.c9users.io/trips">Trips</a></li>
<li><a href="#">Account</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="https://urbanpancake-aburns.c9users.io/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
</div>
</nav>
//= require wice_grid
<body>
</nav>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<src="app/assets/images/Slide1.jpg" alt="logo not here!" height="42" width="42">

<div class = "container">

  
<table class="table table-bordered">
<div class="container">
<h2>NYC Train Lines</h2>     
<table class="table table-bordered">
<thead>
<tr>
<th>Train</th>
<th>Color</th>
<th>Borough</th>
</tr>
</thead>
<tbody>



/%thead
/%tr
/<th>Train</th>
/<th>Color</th>
/<th>Borough</th>
    
/%tbody
%table#lines  
  - @lines.each do |line|
    %tr
      %td= line.train
      %td= line.color
      %td= line.borough
      %td= link_to "More About The #{line.train}", line_path(line), {:id => "link"}
 
</div>
 
%p= link_to 'Add New Train', new_line_path, {:id => "link"}
%p= link_to 'Add New Trip', trips_new_newtrip_path,{:id => "link"}



