- unless @line.errors.empty?
  #warning
    Errors prevented this line from being #{controller.action_name}d:
    %ul
      - @line.errors.full_messages.each do |error|
        %li= error
-# in _line_form.html.haml (the partial)

= label :line, :train, 'Train'
= text_field :line, :train
    
= label :line, :color, 'Color'
= select :line, :color, ['Blue', 'Brown', 'Gray', 'Green', 'Light Green', 'Orange', 'Yellow', 'Purple', 'Red']
    
= label :line, :borough, 'Borough'
= select :line, :borough, ['The Bronx','Brooklyn', 'Manhattan', 'Staten Island','Queens']