-# in app/views/line/show.html.haml
%h2 Details about #{@line.train}

%ul#details
  %li
    Color:
    = @line.color
  %li
    Borough:
    = @line.borough

  = image_tag("Ltrain1.png", {:style => "width:100px;"})

%h3 Description:

%p#description= @line.description

%p= link_to 'Back to lines list', lines_path,{:id => "link"}

%input{:type=>"text", :required => true}
%button.button Confirm Location