-# in app/views/line/show.html.haml
%h2 Details about #{@line.train}
%ul#details
  %li
    Color:
    = @line.color
  %li
    Borough:
    = @line.borough
%h2 Description:
%p#description= @line.description

= image_tag("Ltrain1.png", {:style => "width:400px;"})
%br
= image_tag("Ltrain2.png", {:style => "width:400px;"})


-#%p= link_to 'Find your stop', stops_path,{:id => "stoplink"}
%p= link_to 'Edit Info', edit_line_path(@line),{:id => "link"}
%p= link_to 'Delete', line_path(@line), {:method => :delete,:id => "link"}
%p= link_to 'Back to lines list', lines_path,{:id => "returnLink", :id => "link"}