-# in app/views/lines/show.html.haml
<body>


//= require wice_grid
<body>
</nav>
%h2#details Details about #{@line.train}
%ul#details
  %li#traindetails
    Color:
    = @line.color
  %li#traindetails
    Borough:
    = @line.borough
%h2#description Description:
%p#linedescribe= @line.description
- if @line.train == 'L'
  = image_tag("Ltrain1.png", {:style => "width:400px;"})
  %br
  = image_tag("Ltrain2.png", {:style => "width:400px;"})
  %br
  = image_tag("Ltrain3.png", {:style => "width:400px;"})
  %br
  = image_tag("Ltrain4.png", {:style => "width:400px;"})
- if @line.train == '1'
  = image_tag("1train1.png", {:style => "width:400px;"})
  %br
  = image_tag("1train2.png", {:style => "width:400px;"})
  %br
  = image_tag("1train3.png", {:style => "width:400px;"})
  %br
  = image_tag("1train4.png", {:style => "width:400px;"})
  %br
  = image_tag("1train5.png", {:style => "width:400px;"})
  %br
  = image_tag("1train6.png", {:style => "width:400px;"})

%p= link_to 'Edit Info', edit_line_path(@line),{:id => "link"}
%p= link_to 'Delete', line_path(@line), {:method => :delete,:id => "link"}
%p= link_to 'Back to lines list', lines_path,{:id => "returnLink", :id => "link"}