- unless @trip.errors.empty?
  #warning
    Errors prevented this line from being #{controller.action_name}d:
    %ul
      - @trip.errors.full_messages.each do |error|
        %li= error
-# in _line_form.html.haml (the partial)

= label :trip, :passenger_name, 'Passenger'
= text_field :trip, :passenger_name

= label :trip, :train, 'Train'
= select :trip, :train, ['1', '2','3','4','5','6','7','A','C','E','B','D','G','J','F','L','N','Q','R','W','S']

= label :trip, :timestamps, 'Departure Time'
= select :trip, :timestamps, ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']