%html
%head
%nav
  = link_to 'Log Out', logout_path, {:id => "link"}

<link rel="stylesheet" type="text/css" href="application.css">
<h1> URBAN PANCAKE</h1>
<src="app/assets/images/Slide1.jpg" alt="logo not here!" height="42" width="42">
<h2> NYC Train Trips</h2>

%table#trips
  %thead
    %tr
      %th Passenger
      %th Train
      %th Departure Time
    %tbody
      
      - @trips.each do |trip|
        %tr
        %td= trip.passenger_name
        %td= trip.train
        %td= trip.timestamps
        %td= link_to "More About The #{trip.train} Trip", trip_path(trip), {:id => "link"}
 
%p= link_to 'Add New Trip', trips_new_newtrip_path,{:id => "link"}
%p= link_to 'Back to lines list', lines_path,{:id => "returnLink", :id => "link"}