%h2 Create New Trip


= form_tag trips_path, :method => :post do
    = label :trip, :passenger_name, 'Passenger'
    = text_field :trip, :passenger_name

    = label :trip, :train, 'Train'
    = select :trip, :train, ['1', '2','3','4','5','6','7','A','C','E','B','D','G','J','F','L','N','Q','R','W','S']
    
    = submit_tag 'Save Changes'
    
%p= link_to 'Back to trips list', trips_path,{:id => "returnTripLink", :id => "trip"}
