<html>
    <body>
        <div>
            <h1>
                Trips 
            </h1>
            <br/>
            <table>
                <tr>
                    <th>Train</th>
                    <th>Trip Creator</th>
                    <th>Other Passengers</th>
                </tr>
                <tr>
                    <td><%= @trip.train %></td>
                    <td><%= @trip.passenger_name%></td>
                    <td><%= @passengerString %> </td>
                </tr>
            </table>
        </div>
        <div>
            <a>
                <%@trip.passenger_name%>
                <% if @trip.passenger_name==@passenger.name and session[:testing?] != true%>
                <%=link_to 'Delete', trip_path(@trip), {:method => :delete,:class => "link"}%>
                <% else %>
                
                <% end %>
            </a>
            <a href = "/trips/join/<%=@trip.id %>">Join</a>
        </div>
    </body>
</html>