
<body>

//= require wice_grid
<body>
</nav>




%h2 Details about your train trip
%ul#details
  %li
    Passenger:
    = Passenger.name
    %li
    Train:
    = @trip.train
    %li
    Departure Time:
    = @trip.timestamps
    %li
    All Passengers on This Trip: 
    = @trip.passenger_name
    
%p= link_to 'Join Trip', trip_path(@trip),{:method => :join, :class => "link"}
%p= link_to 'Edit Trip', edit_trip_path(@trip),{:class => "link"}
%p= link_to 'Delete Trip', trip_path(@trip), {:method => :delete,:class => "link"}
%p= link_to 'Back to trips list', trips_path,{:class => "link"}