<h1>My Account</h1>
    
<section>
	<% if current_passenger == nil%>
	<li>You are not logged in!</li>
	<p><%= link_to ' Login', login_path, :class => 'glyphicon glyphicon-log-in link'%></p>
	<% else %>
	current_passenger.image %><img src="<%= current_passenger.image %>" alt="Profile picture" width='200' class="uk-border-circle">

	<h2><%= current_passenger.name %></h2>
	
	<p>Member Since: <%= current_passenger.created_at %></p>
	
	<p><%= link_to ' Sign Out', logout_path, :class => 'glyphicon glyphicon-log-out link'%></p>
	<% end %>
</section>