!!! 5
%html

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="/doc/images/pancake.ico"/>
<title>Urban Pancake</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="application.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="https://urbanpancake-aburns.c9users.io/welcome/show">Urban Pancake</a>
</div>
<ul class="nav navbar-nav">
<li class="active"><a href="https://urbanpancake-aburns.c9users.io/welcome/show">Home</a></li>
<li><a href="https://urbanpancake-aburns.c9users.io/lines">Lines</a></li>
<li><a href="https://urbanpancake-aburns.c9users.io/trips">Trips</a></li>
<li><a href="#">Account</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="https://urbanpancake-aburns.c9users.io/auth/facebook"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
<li><a href="https://urbanpancake-aburns.c9users.io/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
</div>
</nav>
//= require wice_grid
<body>
</nav>

/        <!--PLEASE DON'T REMOVE THE session[:testing?] FROM BELOW -->
/ /       <!--IT IS USED IN THE CUCUMBER TESTING TO MAKE A FAKE USER-->
/  /      <!--WITHOUT IT, THE CUCUMBER TESTS WILL FAIL!             -->
/        <% if session[:logged_in] and session[:testing?] != true %>


  
%title UrbanPancake!
= stylesheet_link_tag 'application'
= javascript_include_tag 'application'
= csrf_meta_tags

%body
  
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:errors]
    #errors.message= flash[:errors]
  - elsif flash[:warning]
    #warning.message= flash[:warning]
  #main
    = yield
      
    