<!DOCTYPE html>

<html lang="en">
  
<head>
<link rel="shortcut icon" href="/images/pancake.ico"/>  <title>UrbanPancake</title>
  <link rel="stylesheet" type="text/css" href="/assets/application.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <!--<link rel="n" href="pancake.ico"/>-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        
        <!--PLEASE DON'T REMOVE THE session[:testing?] FROM BELOW -->
        <!--IT IS USED IN THE CUCUMBER TESTING TO MAKE A FAKE USER-->
        <!--WITHOUT IT, THE CUCUMBER TESTS WILL FAIL!             -->
        
        <ul class="nav navbar-nav">
          <li <% if current_page?(trips_path) or current_page?(trips_new_newtrip_path) %> class="active" <% end %>>
            <% if session[:logged_in] and session[:testing?] != true and current_user%>
            <%= link_to 'Trips', trips_path, data: { keybinding: 't' } %>
            <% else %>
          
            <% end %>
          </li>
          <li <% if current_page?(lines_path) or  current_page?(lines_new_path)%> class="active" <% end %> >
            <% if session[:logged_in] and session[:testing?] != true and current_user%>
            <%= link_to 'Train Info', lines_path, data: { keybinding: 'i' } %>
            <% end %>
          </li>
          <li <% if current_page?(account_path) %> class="active" <% end %> >
            <% if session[:logged_in] and session[:testing?] != true and current_user%>
            <%= link_to 'Account', account_path, data: { keybinding: 'a' } %>
            <% end %>
            </li>
        </ul>
        
        <div class="navbar-header">
          <a><%= link_to 'Urban Pancake', root_path, :class => 'navbar-brand', data: { keybinding: 'h' } %></a>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if session[:logged_in] and session[:testing?] != true and current_user%>
              <a href="<%= account_path %>/" <% if current_page?(lines_path(current_user)) %> class="uk-active" <% end %> >
            <% end %>
         
            <% if current_user %>
              Hi, <%= current_user.name.split(" ")[0] %> 
            <% end %>  
          </a>
      </li>
      <li>
        <% if session[:logged_in] and session[:testing?] != true and current_user%>
          <%=link_to ' Logout', logout_path, :class => 'glyphicon glyphicon-log-out', data: { keybinding: 'o' }%>
        <%else %>
          <li><%=link_to ' Login', login_path, :class => 'glyphicon glyphicon-log-in', data: { keybinding: 'l' }%></li>
        <%end%>
      </li>
    </ul>
    
  </div>
</nav>
  </header>
  <main>
    <%# PLEASE DON'T REMOVE THE session[:testing?] FROM BELOW%>
    <%#--IT IS USED IN THE CUCUMBER TESTING TO MAKE A FAKE USER%>
    <%#--WITHOUT IT, THE CUCUMBER TESTS WILL FAIL!%>

<% if session[:logged_in] and session[:testing?] != true %>
  <%end%>

<%= stylesheet_link_tag 'application'%>
<%= javascript_include_tag 'application'%>
<%= csrf_meta_tags%>

  <!-- Displays flash message on each page -->
      <% flash.each do |key, value| %>
        <!-- If the key is the :errors symbol, then display all the messages -->
        <!-- that were stored in the hash -->
        <% if key == "errors" %>
          <div class="uk-alert uk-alert-danger">
          <% value.each do |k, v| %>
            <p><%= k.capitalize %>
            <!-- Stop at length-1 because we only want 'and' between messages -->
            <% for i in 0...(v.length-1) %>
              <%= v[i] %> and
            <% end %>
            <!-- Display the final error message -->
            <%= v[v.length-1] %></p>
          <% end %>
          </div>
        <% else %>
          <div class="uk-alert uk-alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
  
  <%= yield%>
  </main>
<!-- Bootstrap and JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>      

<footer>
  <div>&copy; Provided to you by the underdogs</div>
</footer>

</html>