!!! 5
%html
  %head
    %title UrbanPancake!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = image_tag("/assets/logo.jpg", size: "400x300")
  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    #main
      = yield
      
    