!!! 5
%html

<!DOCTYPE html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lobster+Two|Permanent+Marker" rel="stylesheet">
</head>



/        <!--PLEASE DON'T REMOVE THE session[:testing?] FROM BELOW
/ /       <!--IT IS USED IN THE CUCUMBER TESTING TO MAKE A FAKE USER
/  /      <!--WITHOUT IT, THE CUCUMBER TESTS WILL FAIL!             
/        <% if session[:logged_in] and session[:testing?] != true %>


  
%title UrbanPancake!
= stylesheet_link_tag 'application'
= javascript_include_tag 'application'
= csrf_meta_tags

%body
  
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:errors]
    #errors.message= flash[:errors]
  - elsif flash[:warning]
    #warning.message= flash[:warning]
  #main
    = yield
      
    